{% liquid
  assign show_block = false
  if current_product != blank
    assign show_block = true
  endif

  assign current_color = current_product.metafields.pdp.filter_color
  assign swatch_size = swatch_size | default: 10
%}

{% style %}
  .color-variants--{{ block_id }} {
    padding-top: {{ padding_top_mobile | default: 0 }}px;
    padding-bottom: {{ padding_bottom_mobile | default: 0 }}px;
  }

  @media screen and (min-width: 1000px) {
    .color-variants--{{ block_id }} {
      padding-top: {{ padding_top_desktop | default: 0 }}px;
      padding-bottom: {{ padding_bottom_desktop | default: 0 }}px;
    }
  }

  .color-variants--{{ block_id }} .color-variants__swatch-list {
    gap: {{ swatch_spacing | default: 0 }}px;
    margin-top: {{ title_spacing | default: 0 }}px;
  }

  .color-variants--{{ block_id }} .color-variants__swatch {
    width: {{ swatch_size }}px;
    height: {{ swatch_size }}px;
  }

  .color-variants--{{ block_id }} .color-variants__heading {
    font-size: {{ title_size_mobile | default: 10 }}px;
  }

  @media screen and (min-width: 1000px) {
    .color-variants--{{ block_id }} .color-variants__heading {
      font-size: {{ title_size_desktop | default: 10 }}px;
    }
  }
{% endstyle %}

{% if show_block %}
  <div class="color-variants--{{ block_id }}">
    <span class="color-variants__heading">
      {% if current_color != blank and current_color.value.filter_color_title != blank %}
        {{ 'riviera.snippets.product-variants.color_prefix' | t }}:
        <strong>{{ current_color.value.filter_color_title }}</strong>
      {% endif %}
    </span>
    <div class="color-variants__swatch-list">
      {% for color_variant in color_variants %}
        {% liquid
          assign is_selected = false
          if color_variant.id == current_product.id
            assign is_selected = true
          endif
          assign swatch_color = color_variant.metafields.pdp.filter_color
          echo
        %}
        {% style %}
          .color-variants--{{ block_id }} .color-variants__swatch--{{ forloop.index }} {
            {% if swatch_color.value.filter_color_image != blank %}
              --swatch-background: url("{{ swatch_color.value.filter_color_image | image_url: width: swatch_size }}");
            {% elsif swatch_color.value.filter_color_hex != blank %}
              --swatch-background: {{ swatch_color.value.filter_color_hex }};
            {% endif %}
          }
        {% endstyle %}
        {% if is_selected %}
          <span
            class="color-variants__swatch--{{ forloop.index }} color-variants__swatch selected"
          ></span>
        {% else %}
          <a
            href="{{ color_variant.url }}"
            title="{{ color_variant.title }}"
            class="color-variants__swatch--{{ forloop.index }} color-variants__swatch"
          ></a>
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endif %}
